.SwapBox {
  border-radius: 0.4rem;
  padding: 1.5rem;
  min-height: calc(100vh - 194px);
}
.rc-slider-handle {
  background: rgba(255, 255, 255, 1) !important;
  box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.35) inset !important;
  // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.32) !important;
  border: none !important;
  width: 20px;
  height: 20px;
  margin-top: -6px !important;
  
}
.rc-slider-dot {
  background-color: rgba(255, 255, 255, 0.32) !important;
  top: 8px;
  width: 1px;
  display: none !important;
}
.rc-slider-track {
  background: rgba(127, 127, 163, 1) !important;
  height: 8px !important;
  border-radius: 8px !important;
}
.rc-slider-rail {
  // background: rgba(127, 127, 163, 1) !important;
  background: rgba(27, 27, 31, 1) !important;
  height: 8px !important;
  border-radius: 8px !important;
}
.SwapBox-option-tabs {
  border-radius: 8px !important;
  padding: 4px;
  background: rgba(9, 9, 10, 1) !important;
  .Tab-option {
    border-radius: 6px;
  }
  &.secondary {
    margin-top: -4px;
    margin-bottom: 24px;
    .Tab-option {
      padding-block: 8px !important;
      font-size: 12px !important;
      &.active {
        background: rgba(36, 36, 41, 1) !important;
      }
    }
  }
  &.main {
  .Tab-option:nth-child(1) {
    &.active {
      background: rgba(51, 172, 66, 0.16);
      border-radius: 6px;
      color: rgba(51, 172, 66, 1);
      * {
        fill: rgba(51, 172, 66, 1) !important;
      }
    }
  }
  .Tab-option:nth-child(2) {
    &.active {
      background: rgba(255, 48, 62, 0.16);
      color: rgba(255, 48, 62, 1);
      * {
        fill: rgba(255, 48, 62, 1) !important;
      }
    }
  }
  .Tab-option:nth-child(3) {
    &.active {
      background: rgba(255, 202, 17, 0.16);
      color: rgba(255, 202, 17, 1);
      * {
        fill: rgba(255, 202, 17, 1) !important;
      }
    }
  }
  }
}
.SwapBox-option-tabs.Tab.Tab__block .Tab-option {
  padding: 1.05rem;
}

.SwapBox-option-tabs.Tab.Tab__block .Tab-option-icon {
  margin-top: -0.155rem;
  transform: scale(0.75);
  vertical-align: middle;
  margin-right: 0.8rem;
}

.SwapBox-asset-options-tabs {
  margin: 1.5rem 0;
}

.SwapBox-info-section {
  margin-bottom: 0.8rem;
}

.SwapBox-form-layout {
  display: flex;
  flex-direction: column;
}

.SwapBox-warnings {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.SwapBox-slider-settings {
  font-size: var(--font-sm);
  margin-bottom: 0.8rem;
}

.SwapBox-slider-settings .Checkbox {
  display: grid;
  grid-template-columns: 1fr auto;
  direction: rtl;
}

.SwapBox-info-section {
  margin-bottom: 1.1rem;
}

.SwapBox-info-row {
  opacity: 1;
  margin-bottom: 0.5rem;

  .Exchange-info-label {
    opacity: 1;
    color: var(--color-gray-400);
  }
}

.SwapBox-section {
  margin-top: 1.25rem;
}

.SwapBox-warnings {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.SwapBox-market-selector {
  margin-bottom: 0.8rem;
}

.SwapBox-market-selector-dropdown {
  .Dropdown-options {
    top: 2.8rem;
    text-align: right;
  }

  .Dropdown-current-arrow {
    margin-left: 0.8rem;
  }
}

.TradeBox-acceptable-price-impact {
  display: flex;
  cursor: pointer;

  .edit-icon {
    opacity: 0.7;
    margin-left: 0.4rem;
    margin-bottom: -0.3rem;
  }
}

.MarketSelector-tooltip {
  position: relative;

  .Tooltip-handle {
    color: var(--color-yellow-500);
    text-decoration-color: var(--color-yellow-500);
  }

  &.error {
    .Tooltip-handle {
      color: var(--error-red);
      text-decoration-color: var(--error-red);
    }
  }

  .MarketSelector-tooltip-content {
    color: var(--color-white);
  }

  .MarketSelector-tooltip-row-action {
    margin-top: 1rem;
  }

  .MarketSelector-tooltip-row {
    margin-top: 2rem;
  }

  .MarketSelector-tooltip-row:first-child {
    margin-top: 0;
  }
}

.LiqPrice-soft-warning {
  color: var(--color-yellow-500);
  text-decoration-color: var(--color-yellow-500);
}

.LiqPrice-hard-warning {
  color: var(--error-red);
  text-decoration-color: var(--error-red);
}

.Banner-gap {
  margin-bottom: 1.75rem;
}

@media (max-width: 900px) {
  .SwapBox-content {
    flex-wrap: wrap;
  }

  .SwapBox-content .GlpSwap-stats-card {
    margin: 0;
    margin-bottom: 3.1rem;
    max-width: 100%;
  }

  .SwapBox-content .GlpSwap-box {
    margin: 0;
    max-width: 100%;
  }
}

.Tradebox-handle {
  z-index: 1;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-gray-400);
  user-select: none;
  color: var(--color-gray-400);

  &:hover {
    text-decoration-color: var(--color-white);
    color: var(--color-white);
  }
}

.SwapBox-info-section .App-card-divider:last-child {
  display: none;
}
