.Home-benefits-section {
  /* background: var(--color-slate-800); */
  padding-top: 2.4rem;
  padding-bottom: 6.4rem;
}

.Home-benefits {
  display: grid;
  width: 100%;
  grid-column-gap: 1.6rem;
}

.Home-benefits-swiper {
  padding: 0 1.6rem;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease-in-out;
}

.Home-benefits.row1 {
  grid-template-columns: 5fr 2fr 3fr;
  margin-bottom: 1.6rem;
}

.Home-benefits.row2 {
  grid-template-columns: 3fr 5fr 2fr;
}

.Home-benefit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2.4rem;
  background: #1A1A1A;
  border-radius: 0.8rem;
  height: 25.6rem;
  overflow: hidden;
}

.Home-benefit-title {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.Home-benefit-description {
  font-size: 1.3rem;
  line-height: 2rem;
  max-width: 25.6rem;
  color: var(--color-neutral-500);
  letter-spacing: 0;
}

.Home-benefit__easy {
  background-image: url("@/img/home_benefit_easy_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & .Home-benefit-spline {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  & * {
    z-index: 1;
  }
}

.Home-benefit__secure {
  background-image: url("@/img/home_benefit_secure_bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.Home-benefit__secure:before {
  content: '';
  box-shadow: 0px 4px 20px 24px #1A1A1A inset;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.secure-switch {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__container {
    height: 4rem;
    width: 8rem;
    border-radius: 9999px;
    position: relative;
    background: linear-gradient(270deg, rgba(153, 153, 153, 0.28) 0%, rgba(255, 255, 255, 0.28) 100%);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 64px 8px #FFFFFF1F;
    margin-bottom: 4rem;
  }

  &__handle,
  &__lock {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 9999px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease; // Transition for transformations

    &:first-child {
      background-color: #FFCA11;
      box-shadow: 0px 4px 4px 0px #00000040;
      left: 0.2rem;
      top: 0.2rem;
      z-index: 1;
      transform: translateX(0) rotate(0deg); // Default position
    }

    &:last-child {
      background-color: transparent;
      right: 0.2rem;
      top: 0.2rem;
      z-index: 0;
    }
  }

  &.locked {
    & .secure-switch__handle {
      transform: translateX(4rem) rotate(360deg); // Move to the right and rotate
    }
  }
}


.Home-benefit__open {
  background-image: url("@/img/home_benefit_open_bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.Home-benefit__save-on-costs {
  background-image: url("@/img/home_benefit_savecost_bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 1.4rem; 
}

.Home-benefit__save-on-costs > .Home-benefit-description, .Home-benefit__save-on-costs > .Home-benefit-title {
  /* to align title and description with other home benefit cards */
  padding-left: 1rem;
}

.Home-benefit__reduce-risks {
  background-image: url("@/img/home_benefit_reducerisks_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Home-benefit__rewards {
  background-image: url("@/img/home_benefit_rewards_bg.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .Home-benefits-section {
    padding-bottom: 3.6rem;
    overflow: hidden;
  }

.secure-switch {
  &__container {
    height: 6rem;
    width: 12rem;
  }

  &__handle,
  &__lock {
    width: 5.6rem;
    height: 5.6rem;
    & svg {
      transform: scale(1.5);
    }
  }

  &.locked {
    & .secure-switch__handle {
      transform: translateX(6rem) rotate(360deg); // Move to the right and rotate
    }
  }
}

  
}