.MarketPoolsPage-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.MarketPoolsPage-content .MarketPoolsPage-swap-box {
  max-width: 47.95rem;
  width: 100%;
}

@media (max-width: 1280px) {
  .MarketPoolsPage-content {
    flex-wrap: wrap;
  }
  .MarketPoolsPage-swap-box {
    margin-block: 32px;
  }
  .MarketPoolsPage-content .MarketPoolsPage-swap-box {
    max-width: none;
    width: 100%;
  }
}
